/* navbar */
.header {
    width: 100%;
}
.navbar {
    height: 120px;
    flex-direction: column;
}
.nav-title {
    width: 86%;
    display: flex;
    justify-content: flex-start;
}
.navbar ul {
    width: 100%;
    justify-content: flex-end;
    padding: 0px;
}
/* home-section  */
.home-section {
    height: 285px;
    padding: 50px 10px;
}

.left h1 {
    padding: 0px;
    font-size: 26px;
}

.left p {
    padding: 0px;
}

.profile-img {
    padding: 0px;
    height: 210px;
    width: 119px;
}
.right img {
    height: 210px;
}

/* skill-section  */
.skill {
    height: 35px;
    width: 175px;
           margin: 6px 32px;
    
}

.skill-section::before {
    height: 173%;
}

/* project-section  */
.project-section {
    height: 660px;
    margin: 0px;
}
.project1 {
    height: 60px;
    top: 930px;
        left: 40px;
}

.project2 {
    height: 60px;
    top: 1072px;
    left: 54px;
}

.project3 {
    height: 60px;
   top: 1204px;
        left: 55px;
}

.project4 {
    height: 60px;
            top: 1361px;
        left: 42px;
}

.project5 {
    top: 98px;
            left: 260px;
        height: 250px

}
/* hire-section  */
.hire-section {
    height: 750px;
}

.hire-section h1 {
    top: 53px;
    left: 78px;
    
}

#hire-p {
    top: 72px;
    left: 26px;
}


.hire-section button {
    top: 92px;
    left: 175px;
}

.hire1 {
    height: 165px;
    width: 222px;
    top: 115px;
        left: 2px;
}

.hire2 {
    height: 165px;
    width: 222px;
    top: 119px;
        left: 253px;
}
.hire3 {
    height: 165px;
    width: 222px;
           top: 91px;
        left: -9px;
}
