.slider {
        height: 147px;
        width: 240px;
        left: 71px;
    }

       img#slide {
        width: 81%;
        height: 89%;
        object-fit: contain;
    }

    h2 {
        left: 70px;
        font-size: 20px;
    }

    p {
        left: 80px;
        font-size: 14px;
        width: 159px;
    }

            h3 {
        left: 69px;
        top: 55px;
        font-size: 30px;
    }

    ul {
        left: 79px;
        top: 67px;
        font-size: 14px;
    }
    
    button {
        left: 130px;
        top: 98px;
    }